* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER***************************************************************/

.AppContainer {
    max-width: 1440px;
    margin: auto;
}

.MenuContainer {
    width: 100%;
    display: flex;

    margin: 25px 0 35px 0;
}

.MenuLeftContainer {
    width: 50%;
    display: flex;
}

.MenuLinks {
    text-decoration: none;

    margin: 15px;
}

.MenuRightContainer {
    width: 50%;
    display: flex;

    justify-content: flex-end;
}

.MenuRightButton {
    margin: 15px;
}

/*SHORTER*/

.MoreThanSorter {
    width: 50%;

    font-size: 20px;
}

.ShorterSpan{
    font-size: 75px;
    font-weight: bold;
}

.BuildYourBrand {
    width: 70%;
}


.GetStartedBtn {
    max-width: 155px;
    min-height: 45px;

    margin: 25px;
    padding-top: 10px;
    border-radius: 25px;

    text-align: center;
    color: white;

    background-color: aquamarine;
}

.MenuRightImg {
    width: 50%;
}

.ShorterContainer {
    width: 100%;
    display: flex;
}


.WorkingShorterImg {
    width: 100%;
}



/*SHORTER*/




/*HEADER***************************************************************/
/*SHORTINGCOMPONENT***************************************************************/


/*SHORTINGCOMPONENT***************************************************************/






/*FOOTERCOMPONENT***************************************************************/

.FooterContainer {
    width: 100%;

    margin-top: 55px;
}


.StatisticsContainer {
    max-width: 350px;
    min-height: 150px;
    margin: auto;

    text-align: center;
}


.AdvancedStatistics {
    margin: auto;
    font-size: 35px;
}


.TrackYourLinks {
    margin-top: 15px;
}


/*INFO*/

.InfoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.InfoRecognitionContainer {
    max-width: 250px;
    padding: 25px;

    margin: auto;
    background-color: #d4d4d4;
}

.InfoRecordsContainer {
    max-width: 350px;
    padding: 25px;

    margin: auto;
    background-color: #d4d4d4;
}

.InfoCustomizableContainer {
    max-width: 350px;
    padding: 25px;

    margin: auto;
    background-color: #d4d4d4;
}

.InfoTitle {
    font-size: 20px;
    font-weight: bold;

    margin: 15px;
}

/*INFO*/

.YourLinksToday {
    width: 100%;
    min-height: 250px;

    background-image: url("./img/bg-shorten-desktop.svg") ;
    background-size: cover;
    background-color: #2d0d47;
}

.BoostYourLinks {
    padding-top: 35px;

    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.FooterGetStarted {
    max-width: 155px;
    min-height: 45px;
    padding-top: 10px;
    border-radius: 20px;
    text-align: center;

    font-size: 20px;
    color: white;
    background-color: aquamarine;

    margin: 35px auto auto auto;
}


/*FOOTERMENU*/


.FooterMenuContainer {
    width: 100%;
    display: flex;


    min-height: 350px;

    background-color: dimgray;
}

.FooterShortly {
    width: 33.33%;
}

.FooterMenu {
    width: 100%;
    display: flex;
}

.FooterFeatures {
    width: 33.33%;

    margin: 35px auto auto 15px;
}

.FooterResources {
    width: 33.33%;

    margin: 35px auto auto 15px;
}

.FooterCompany {
    width: 33.33%;

    margin: 35px auto auto 15px;
}


.SocialNetworks {
    width: 33.33%;
}

.FooterShortlyLogo {
    margin: 35px auto auto 35px;

    color: white;
}




.FooterLinksHeader {
    font-size: 20px;
    color: white;
    font-weight: bold;

    margin-bottom: 15px;
}


/*FOOTERMENU*/



/*SOCIALNETWORKS*/

.Social {
    max-width: 25px;

    margin: 15px;
}


/*SOCIALNETWORKS*/





/*SHORTENLINKS*/


.ShortenLinksContainer {
    width: 100%;
    min-height: 75px;
    padding: 35px;

    margin: auto;

    justify-content: space-between;
    display: flex;

    background-color: #d4d4d4;
}






/*SHORTENLINKS*/




/*FOOTERCOMPONENT***************************************************************/




















